.heading{
    height: 10%;
    width: 100%;
    background-color: crimson;
  }
  h4{
    color:RGB(0, 0, 128)
  }
  .quote{
    border: 5px solid rgb(245, 238, 239);
    padding: 10px;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
    border-style: inset;
  }
  h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5%;
    padding-bottom: 2%;
    color: rgb(2, 252, 252);
  }
  .main{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-fluid{
    background-color: whitesmoke;
  }
  
  .footer{
    text-align: center;
    background-color: crimson;
    color: white;
    padding: 5px;
    font-size: medium;
  }