@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.welcome {
    background-image:url("../assets/images/white-abstract-background-vector-png_110580.jpg");
    background-size:cover;
    height:30vh;
    
    
}
.introduction{
    margin-left:40%;
    padding-top:10%;
    color:lightseagreen;
    font-family:"Helvetica";
    font-style:italic;

}